:root {
  --color-back-footer: #f2f2f2;
  --color-body-main: #282725;
  --color-link-footer: #737478;
  --color-main: #583d4e;
  --color-profile: #c2175b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  height: 100vh;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
}

/* list items */
.list-items {
  display: flex;
}

.list-items li {
  list-style: none;
  margin: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.list-footer {
  color: var(--color-link-footer);
}

.list-header {
  color: var(--color-body-main);
}

.list-big {
  font-size: 1.5rem;
}

.list-mid {
  font-size: 1.4rem;
}

.list-small {
  font-size: 1.3rem;
}

/* button */
.btn {
  border-radius: 5px;
  border: 1px solid #f8f9fb;
  color: #67534a;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  outline: none;
  padding: 0.9rem 1.6rem;
}

.btn-light {
  background-color: #f8f9fb;
}

.btn:hover {
  border: 1px solid #dadce0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.btn:focus {
  border: 1px solid rgb(46, 151, 255);
}

/* google app icon */
.google-app-container {
  align-items: center;
  display: flex;
  margin: 0 2rem;
}

.google-app-logo {
  width: 17px;
}

/* profile image */
.profile__container {
  border-radius: 100%;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 4px;
  width: fit-content;
}

.profile {
  align-items: center;
  border-radius: 100%;
  display: flex;
  font-family: "Roboto", RobotoDraft, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  padding: 4px;
  text-align: center;
  width: 32px;
}

.profile-primary {
  background-color: #c2185b;
  color: #fff;
}

.profile__container:hover {
  cursor: pointer;
}

.profile__container:hover .profile {
  box-shadow: 0 0 0 4px rgba(62, 73, 82, 0.05);
}

/*search component*/
.search-icon {
  display: flex;
  opacity: 0.4;
  width: 14px;
}

.input-group {
  align-items: center;
  border-radius: 25px;
  border: 1px solid rgb(228, 227, 227);
  display: flex;
  margin: auto;
  overflow: hidden;
  padding: 1.1rem;
}

.input-group:hover {
  box-shadow: 0 1px 5px 0 #80808075;
}

.icon-container,
.mic-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.icon-container {
  margin-left: 6px;
}

.mic-container {
  cursor: pointer;
  left: -1px;
  position: relative;
  width: 30px;
}

.search {
  border: 0;
  flex-grow: 1;
  font-family: Arial;
  font-size: 1.6rem;
  margin: 0 1.6rem 0 0;
  outline: 0;
  padding: 0 0 0 15px;
}

.search::placeholder {
  color: #494949;
}

.google-mic {
  display: flex;
  width: 13px;
}

header {
  display: flex;
  flex-direction: column;
  /* height: 10vh; */
  justify-items: center;
}

/* nav */
nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 1.1rem 1.2rem;
}

nav * {
  margin: 0;
}

nav .list-items li {
  margin: 0.8rem;
}

/* main */
main {
  flex-grow: 1;
  /* height: 76vh; */
  margin: 0 auto;
  /* padding: 0 0 0.5rem; */
  text-align: center;
  width: 100%;
}

main .input-group {
  margin-top: 2.4rem;
  max-width: 584px;
  width: 90%;
}

.mic {
  width: 14px;
}

.search-buttons {
  margin-top: 2.5rem;
}

.search-buttons button {
  margin: 0.5rem;
}

.google-offers {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  font-size: small;
  justify-content: center;
  margin: 2rem auto;
}

.google-offers ul,
.google-offers ul > *,
.google-offers p {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.google-offers ul > li {
  margin: 0 0.5rem;
}

footer {
  background-color: var(--color-back-footer);
  display: flex;
  flex-wrap: wrap;
  /* height: 14vh; */
}

.footer-top {
  align-self: center;
  padding: 1.3rem 3rem;
}

.footer-bottom {
  align-items: center;
  border-top: 1px solid #8080803b;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.3rem 2.5rem;
  width: 100%;
}

.footer-bottom .footer-left .list-items > li,
.footer-bottom .footer-right .list-items > li {
  margin-right: 1.7rem;
}

.footer-left ul,
.footer-right ul {
  margin: 0;
  padding: 0;
}

.footer-center {
  left: -5vw;
  position: relative;
}

.green-leaf {
  margin-right: 3px;
  position: relative;
  top: 1px;
  width: 12px;
}

.footer-center a {
  color: var(--color-link-footer);
}

.footer-left ul > li,
.footer-right ul > li {
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  main {
    /* height: 67vh; */
  }

  footer {
    /* height: 23vh; */
  }

  .footer-top {
    /* height: 32%; */
  }

  .footer-bottom {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: repeat(2, 1fr);
    /* height: 68%; */
    justify-items: center;
  }

  .footer-left {
    grid-area: 2/1/3/2;
  }

  .footer-center {
    grid-area: 1/1/2/3;
    left: 0;
  }

  .footer-right {
    grid-area: 2/2/3/3;
  }
}

@media screen and (max-width: 768px) {
  main {
    /* height: 59vh; */
  }

  footer {
    /* height: 31vh; */
  }

  .footer-top {
    align-items: center;
    display: flex;
    /* height: 24%; */
  }

  .footer-bottom {
    grid-template: repeat(3, 1fr) / repeat(1, 1fr);
    /* height: 76%; */
  }

  .footer-left {
    grid-area: 2/1/3/2;
  }

  .footer-right {
    grid-area: 3/1/4/2;
  }

  .footer-center {
    grid-area: 1/1/2/2;
    left: 0;
  }
}

@media screen and (max-width: 500px) {
  .footer-bottom .footer-left .list-items > li,
  .footer-bottom .footer-right .list-items > li {
    margin-right: 0.6rem;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  header {
    /* height: auto; */
  }

  main {
    /* height: auto; */
  }

  footer {
    /* height: auto; */
    margin-top: 8rem;
  }
}
