:root {
  --color-link-footer: #737478;
  --color-main: #583d4e;
  --color-profile: #c2175b;
  --color-back-footer: #f2f2f2;
  --color-body-main: #282725;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

/* list items */

.list-items {
  display: flex;
}

.list-items li {
  list-style: none;
  margin: 1rem;
  /* display: flex; */
}

.list-items a {
  text-decoration: none;
}

.list-items a:hover {
  text-decoration: underline;
}

.list-footer {
  color: var(--color-link-footer);
}

.list-header {
  color: var(--color-body-main);
}

.list-big {
  font-size: 1.5rem;
}

.list-mid {
  font-size: 1.4rem;
}

.list-small {
  font-size: 1.3rem;
}

/* button */
.btn {
  border: 1px solid #f8f9fb;
  border-radius: 5px;
  color: #67534a;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  outline: none;
  padding: 0.9rem 1.6rem;
}

.btn-light {
  background-color: #f8f9fb;
}

.btn:hover {
  border: 1px solid #dadce0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.btn:focus {
  border: 1px solid rgb(46, 151, 255);
}

/* profile image */

.profile__container {
  /* align-items: center; */
  border-radius: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  display: inline-block;
  /* height: 32px; */
  /* justify-content: center; */
  padding: 4px;
  /* text-align: center; */
  width: fit-content;
}

.profile {
  align-items: center;
  /* border: 1px solid #fff; */
  border-radius: 100%;
  font-family: "Roboto", RobotoDraft, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  text-align: center;
  width: 32px;
}

.profile-primary {
  background-color: #c2185b;
  color: #fff;
}

.profile__container:hover {
  cursor: pointer;
}

.profile__container:hover .profile {
  box-shadow: 0 0 0 4px rgba(62, 73, 82, 0.05);
}

/*search component*/
.search-icon {
  fill: #00000094;
  width: 15px;
}

.input-group {
  width: 80%;
  margin: auto;
  border-radius: 25px;
  box-shadow: 0 0 4px 1px #80808075;
  display: flex;
  overflow: hidden;
  height: 44px;
  align-items: center;
  /* background-color: grey; */
}

.icon-container,
.mic-container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container {
  /* background-color: red; */
  margin-left: 7px;
}

.mic-container {
  cursor: pointer;
  position: relative;
  left: -15px;
  width: 30px;
}

.search {
  border: 0;
  flex-grow: 1;
  font-family: Arial;
  font-size: 1.6rem;
  outline: 0;
  margin: 0 1.6rem 0 0;
  padding: 0 0 0 4px;
}

.search::placeholder {
  color: #494949;
  /* font-weight: 500; */
}

.google-mic {
  width: 13px;
}
