<ul class="list-items list-mid">
    <li><a class="list-header" href="#">About</a></li>
    <li><a class="list-header" href="#">Advertising</a></li>
    <li><a class="list-header" href="#">Business</a></li>
    <li><a class="list-header" href="#">How Search works</a></li>
</ul>

<ul class="list-items list-mid">
    <li><a class="list-footer" href="#">About</a></li>
    <li><a class="list-footer" href="#">Advertising</a></li>
    <li><a class="list-footer" href="#">Business</a></li>
    <li><a class="list-footer" href="#">How Search works</a></li>
</ul>